body {
    background-color: #FDE8DF;
}

h1 {
  padding: 1rem 2rem;
  border-left: 10px double #000;
  background: #fafa73;
  width: 300px;
  margin-top: 20px 
  
}

.class1{
   position: absolute;
	bottom: 20px;
	right:20px;
}